.mobile-wrap {
    width: 100%;
    .container {
        & > input[type="checkbox"] {
            display: none;
        }
        & > label {
            display: none;
        }
    }
    @media only screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
        height: 6rem;
        z-index: 4;
        box-shadow: 0 0.2rem 1rem $gray-9;
        & > .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 3rem;
            & > input[type="checkbox"] {
                display: none;
            }
            & > label {
                display: block;
                color: $gray-7;
                cursor: pointer;
            }
            & > input[type="checkbox"]:checked ~ .navbar {
                transform: scale(1, 1);
            }
            & > label::before {
                font-family: "FontAwesome";
                font-size: 3.5rem;
                content: "\f0c9";
                transition: all 0.2s ease;
            }
            & > input[type="checkbox"]:checked ~ label::before {
                font-family: "FontAwesome";
                content: "\f00d";
            }
        }
    }
    &__logo {
        display: none;
        @media only screen and (max-width: 768px) {
            display: block;
            & img {
                width: auto;
                max-height: 5rem;
            }
        }
    }
    &__basket {
        display: none;
        @media only screen and (max-width: 768px) {
            display: block;
            cursor: pointer;
            & > i {
                font-size: 2.5rem;
                color: $gray-7;
            }
        }
    }
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    @media only screen and (max-width: 992px) {
        align-items: center;
    }
    @media only screen and (max-width: 768px) {
        position: fixed;
        top: 6rem;
        right: 0;
        bottom: 0;
        left: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: linear-gradient(to bottom left, #ffffff 0%, #efefef 100%);
        box-shadow: 0 0.2rem 1rem $gray-9;
        z-index: 4;
        transform: scale(0, 1);
        transform-origin: right;
        transition: all 0.3s ease;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;
        background-color: $manatee;
        color: $cultured;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        font-size: 1.2rem;
        text-align: center;
        height: 12rem;
        @media only screen and (max-width: 992px) {
            height: auto;
            padding: 1rem;
        }
        @media only screen and (max-width: 768px) {
            position: relative;
            width: 100%;
            height: auto;
            padding: 2rem 1rem;
            border-radius: 0;
            background-color: transparent;
            border-bottom: 0.2rem solid $gray-e;
        }
        &__pic {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            @media only screen and (max-width: 768px) {
                justify-content: center;
                align-items: center;
            }
            & img {
                margin: 0.5rem 0.5rem;
            }
            &__logotype {
                width: 11.4rem;
                height: 3.5rem;
                @media only screen and (max-width: 768px) {
                    width: 50%;
                    height: auto;
                }
            }
            &__logo {
                width: 5.5rem;
                height: 7rem;
                @media only screen and (max-width: 768px) {
                    width: auto;
                    height: auto;
                    display: none;
                }
            }
        }
        &__description {
            text-align: center;
            @media only screen and (max-width: 992px) {
                display: none;
            }
            @media only screen and (max-width: 768px) {
                display: block;
                color: $gray-7;
                margin: 1rem 0 0;
            }
        }
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        margin: 0 3rem;
        max-width: 100%;
        height: 12rem;
        @media only screen and (max-width: 992px) {
            order: 1;
            margin: 1rem 0;
            height: auto;
        }
        @media only screen and (max-width: 768px) {
            width: 100%;
            margin: 0;
            padding: 0 1rem;
        }
        @media only screen and (min-width: 1200px) {
            margin: 0 5rem;
        }
        @media only screen and (min-width: 1400px) {
            margin: 0 15rem;
        }
        &__search {
            position: relative;
            width: 100%;
            @media only screen and (max-width: 992px) {
                order: 1;
                margin: 1rem 0 0;
            }
            @media only screen and (max-width: 768px) {
                display: none;
            }
            & input[type="text"] {
                width: 100%;
                background-color: $white;
                color: $gray-4;
                outline: none;
                border: 0;
                padding: 1.4rem 1rem;
                font-size: 2rem;
                border-radius: 0.5rem;
                box-shadow: 0.2rem 0.2rem 1rem $gray-c;
                @media only screen and (max-width: 1200px) {
                    font-size: 1.5rem;
                }
                @media only screen and (max-width: 992px) {
                    padding: 1rem;
                }
            }
            & button {
                position: absolute;
                background-color: transparent;
                border: 0;
                left: 0.7rem;
                top: 0.8rem;
                width: 5rem;
                height: 5rem;
                font-size: 3rem;
                color: $gray-7;
                cursor: pointer;
                transition: all 0.2s ease;
                &:hover {
                    color: $manatee;
                }
                @media only screen and (max-width: 992px) {
                    width: 4rem;
                    height: 4rem;
                    top: 0.5rem;
                }
            }
        }
        &__menu {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            @media only screen and (max-width: 768px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                & > :nth-child(1) {
                    order: 2;
                }
            }
            &__link {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 4rem;
                font-size: 1.5rem;
                padding: 0 1rem;
                color: $gray-6;
                margin: 0 0 0 0.3rem;
                @media only screen and (max-width: 1200px) {
                    font-size: 1.2rem;
                }
                @media only screen and (max-width: 768px) {
                    justify-content: flex-start;
                    font-size: 1.4rem;
                }
                & img {
                    width: 2.7rem;
                    height: 2.7rem;
                    @media only screen and (max-width: 1200px) {
                        width: 2rem;
                        height: 2rem;
                    }
                }
                &:hover {
                    color: $manatee;
                }
                &__categories {
                    position: relative;
                    @media only screen and (max-width: 768px){
                        width: 100%;
                    }
                    & > input[type="checkbox"] {
                        display: none;
                        @media only screen and (max-width: 768px) {
                            &:checked ~ .megamenu {
                                transform: scale(1, 1);
                            }
                        }
                    }
                    & > label {
                        cursor: pointer;
                    }
                    & > label > span {
                        background-color: $manatee;
                        color: $cultured;
                        border-top-left-radius: 0.7rem;
                        border-top-right-radius: 0.7rem;
                        @media only screen and (max-width: 768px){
                            background-color: transparent;
                            color: $gray-7;
                            font-size: 1.5rem;
                        }
                    }
                    & > label > span:hover {
                        color: $white;
                        @media only screen and (max-width: 768px){
                            color: $manatee;
                        }
                    }
                    &:hover > .megamenu {
                        transform: scale(1, 1);
                    }
                    @media only screen and (max-width: 768px) {
                        &:hover > .megamenu {
                            transform: scale(0, 0);
                        }
                    }
                }
            }
        }
    }

    &__auth {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        margin-right: auto;
        @media only screen and (max-width: 768px) {
            width: 100%;
            margin: 2rem 0rem;
            padding: 0 1rem;
        }
        &__user {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 768px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                border-bottom: 0.2rem solid $gray-e;
            }
            & > input[type="checkbox"] {
                display: none;
                @media only screen and (max-width: 768px) {
                    &:checked + label > .navbar__auth__user__arrow {
                        transform: rotate(180deg);
                    }
                    &:checked ~ .navbar__auth__user__login {
                        position: relative;
                        transform: scale(1, 1);
                    }
                }
            }
            & > label {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;
                padding: 0 0 1rem 2rem;
                cursor: pointer;
            }
            &__avatar {
            }
            &__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 1rem;
                &__welcome {
                    color: $gray-8;
                    font-family: $font-stack-light;
                    font-size: 1.2rem;
                    margin: 0 0 0.8rem;
                }
                &__name {
                    color: $gray-6;
                    font-family: $font-stack;
                    font-size: 1.5rem;
                }
            }
            &__arrow {
                color: $gray-5;
                transition: all 0.3s ease;
            }
            &:hover {
                .navbar__auth__user__arrow {
                    transform: rotate(180deg);
                    @media only screen and (max-width: 768px) {
                        transform: rotate(0deg);
                    }
                }
            }
            &__login {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                top: 100%;
                right: 0;
                background-color: white;
                transform-origin: top;
                border-bottom-left-radius: 2rem;
                border-bottom-right-radius: 2rem;
                padding: 2rem 0;
                transform: scale(1, 0);
                transform-origin: top;
                transition: all 0.2s ease;
                box-shadow: 0.2rem 0.5rem 1rem $gray-7;
                z-index: 4;
                @media only screen and (max-width: 768px) {
                    top: 0;
                    box-shadow: none;
                    border-radius: 0;
                    transition: none;
                }
                &__form {
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    &__link {
                        display: block;
                        width: 100%;
                        padding: 1.2rem 2rem;
                        color: $gray-6;
                        transition: all 0.1s ease;
                        &:hover {
                            color: $manatee;
                            border-right: 0.4rem solid $manatee;
                        }
                    }
                }
            }
            &:hover > &__login {
                transform: scale(1, 1);
            }
            @media only screen and (max-width: 768px) {
                &:hover > &__login {
                    transform: scale(0, 0);
                }
            }
        }
    }
    &__basket {
        position: relative;
        padding-right: 2rem;
        border-right: 0.3rem solid $gray-c;
        margin: 1rem 0;
        cursor: pointer;
        @media only screen and (max-width: 768px) {
            display: none;
        }
        &__num {
            position: absolute;
            top: -0.3rem;
            left: -0.6rem;
            background-color: $red-sun;
            color: $cultured;
            padding: 0.3rem 0.5rem 0;
            font-size: 1.3rem;
            border-radius: 1rem;
            font-weight: bold;
        }
        &__list {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 33rem;
            height: auto;
            background-color: white;
            transform-origin: top;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            box-shadow: 0.2rem 0.5rem 1rem $gray-7;
            padding: 2rem 1rem;
            z-index: 3;
            cursor: default;
            &__item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 0 0 1rem;
                border-bottom: 0.2rem solid $gray-e;
                &__content {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    margin: 0 0 1rem;
                    padding: 1rem 0;
                    &__pic {
                        & img {
                            border-radius: 1rem;
                        }
                    }
                    &__detail {
                        padding: 0 1rem;
                        & a {
                            font-family: $font-stack-light;
                            font-size: 1.4rem;
                            margin: 0 0 1rem;
                            color: $gray-5;
                            &:hover {
                                color: $manatee;
                            }
                        }
                    }
                    &__action {
                        margin-right: auto;
                        & a {
                            color: $gray-5;
                            &:hover {
                                color: $manatee;
                            }
                        }
                    }
                }
                &__footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $gray-5;
                    width: 100%;
                    &__price {
                    }
                    &__quantity {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: $gray-e;
                        border-radius: 0.5rem;
                        &__plus {
                            font-size: 3rem;
                            color: #4ac148;
                            padding: 0.6rem 0.5rem 0;
                        }
                        &__minus {
                            font-size: 3rem;
                            color: #fa4d55;
                            padding: 0.6rem 0.5rem 0;
                        }
                        & span {
                            margin: 0 0.5rem;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            &__total {
                padding: 2rem 0;
                font-size: 1.8rem;
                color: $gray-7;
                & span {
                    color: $manatee;
                }
            }
            &__submit {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                & a {
                    background-color: $primary;
                    color: $white;
                    padding: 1rem;
                    width: 75%;
                    text-align: center;
                    border-radius: 0.7rem;
                    &:hover {
                        background-color: $manatee;
                    }
                }
            }
        }
    }
}
