// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/* Cascade */
/* Inheritance */

$base-path: '../';

$font-stack: "vazir", Verdana, Geneva, Tahoma, sans-serif;

// Colors
$black-coral: #003D5B;
$space-cadet: #30638E;
$manatee: #00798C;
$red-sun: #D1495B;
$yellow-sun: #EDAE49;
$silver-sand: #edf2f4ff;
$cultured: #edf2f4ff;

$white: #ffffff;
